* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  height: 900px;
  display: flex;
}

.header-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 42%;
  background: black;
  padding-left: 70px;
  padding-top: 25px;
}

.header-right {
  height: 100%;
  width: 58%;
  background-image: url("../img/slider52x.jpg");
  background-size: cover;
  background-position: center;
}

.header-left-top img {
  width: 40%;
}

.header-left-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 0;
  padding-right: 100px;
}

.line {
  height: 1px;
  width: 40px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}

h1 {
  font-size: 58px;
  font-weight: bold;
  padding-left: 65px;
}

#description-header {
  font-size: 20px;
  padding-left: 65px;
}

.header-left-bottom button {
  margin-left: 65px;
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
}
.header-left-bottom button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 0px solid white;
  color: black;
}

.demos {
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 2;
  bottom: 450px;
  right: 10px;
}

.demos i {
  font-size: 32px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #2787b2;
}

.demos p {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.onsale {
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 2;
  bottom: 375px;
  right: 10px;
}

.onsale p {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

#exponential {
  color: lightgreen;
  font-size: 24px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#exponential sup {
  font-size: 16px;
  color: lightgreen;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 635px;
  width: 100%;
  background-image: linear-gradient(to bottom, black 20%, rgba(0, 0, 0, 0.5)), url("../img/slider52x.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper-footer-top {
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper-footer-top p {
  font-size: 20px;
  text-align: center;
}

#link-social {
  list-style: none;
  padding-right: 80px;
  padding-top: 25px;
  text-align: center;
}
#link-social li {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 15px 10px;
  background-color: white;
  border-radius: 100%;
}
#link-social li i {
  color: black;
}
#link-social li a {
  text-decoration: none;
  font-size: 14px;
  color: lightgrey;
}
#link-social li a:hover {
  color: white;
  text-decoration: underline;
}

.footer-bottom {
  height: 80px;
  width: 100%;
  background: black;
}

#copyright {
  list-style: none;
  padding-right: 80px;
  padding-top: 25px;
  text-align: center;
}
#copyright li {
  display: inline-block;
  font-size: 12px;
  color: lightgrey;
}
#copyright li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: lightgrey;
}
#copyright li a:hover {
  color: white;
  text-decoration: underline;
}

.intro-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1500px;
  background: white;
}

.intro-box-top {
  display: flex;
  flex-direction: row;
}

.intro-box-left {
  width: 50%;
  height: 830px;
  padding: 0 100px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.intro-box-left p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}
.intro-box-left strong {
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}
.intro-box-left .big-font {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
.intro-box-left img {
  width: 40%;
}

.intro-box-right {
  width: 50%;
  height: 830px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro-box-right img {
  width: 85%;
}

.intro-box-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.tables {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.tables img {
  width: 30%;
}
.tables h3 {
  font-size: 25px;
  color: black;
}
.tables button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.tables button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.tables p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.groups {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.groups img {
  width: 30%;
}
.groups h3 {
  font-size: 25px;
  color: black;
}
.groups button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.groups button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.groups p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.fresh {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.fresh img {
  width: 30%;
}
.fresh h3 {
  font-size: 25px;
  color: black;
}
.fresh button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.fresh button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.fresh p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.navbar {
  list-style: none;
  height: 100%;
  padding-top: 25px;
  text-align: center;
}
.navbar li {
  display: inline-block;
  padding: 15px 10px;
  height: 100%;
}
.navbar li a {
  text-decoration: none;
  font-size: 14px;
  color: lightgrey;
}
.navbar li a:hover {
  color: white;
  text-decoration: underline;
}
