* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  height: 900px;
  display: flex;
}

.header-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 42%;
  background: black;
  padding-left: 70px;
  padding-top: 25px;
}

.header-left-top img {
  width: 40%;
}

.header-left-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 0;
  padding-right: 100px;
}
.header-left-bottom .line {
  height: 1px;
  width: 40px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}
.header-left-bottom h1 {
  font-size: 66px;
  font-weight: bold;
  padding-left: 65px;
  line-height: 1.3;
}
.header-left-bottom #description-header {
  font-size: 20px;
  padding-left: 65px;
}
.header-left-bottom button {
  margin-left: 65px;
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
}
.header-left-bottom button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 0px solid white;
  color: black;
}

.header-right {
  height: 100%;
  width: 58%;
  background-image: url("../img/slider52x.jpg");
  background-size: cover;
  background-position: center;
}

.demos {
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 2;
  bottom: 450px;
  right: 10px;
}
.demos i {
  font-size: 32px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #2787b2;
}
.demos p {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.onsale {
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 2;
  bottom: 375px;
  right: 10px;
}
.onsale p {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}
.onsale #exponential {
  color: lightgreen;
  font-size: 24px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.onsale #exponential sup {
  font-size: 16px;
  color: lightgreen;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 635px;
  width: 100%;
  background-image: url("../img/footer2x.jpg");
  background-size: cover;
  background-position: bottom;
}

.wrapper-footer-top {
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper-footer-top p {
  font-size: 20px;
  text-align: center;
}

#link-social {
  list-style: none;
  padding-top: 25px;
  text-align: center;
}
#link-social li {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 15px 10px;
  margin-right: 15px;
  background-color: white;
  border-radius: 100%;
}
#link-social li i {
  color: black;
}
#link-social li a {
  text-decoration: none;
  font-size: 14px;
  color: lightgrey;
}
#link-social li a:hover {
  color: white;
  text-decoration: underline;
}

.footer-bottom {
  height: 80px;
  width: 100%;
  background: black;
}

#copyright {
  list-style: none;
  padding-right: 80px;
  padding-top: 25px;
  text-align: center;
}
#copyright li {
  display: inline-block;
  font-size: 12px;
  color: lightgrey;
}
#copyright li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: lightgrey;
}
#copyright li a:hover {
  color: white;
  text-decoration: underline;
}

.intro-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1500px;
  background: white;
}

.intro-box-top {
  display: flex;
  flex-direction: row;
}

.intro-box-left {
  width: 50%;
  height: 830px;
  padding: 0 100px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.intro-box-left p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}
.intro-box-left strong {
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}
.intro-box-left .big-font {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
.intro-box-left img {
  width: 40%;
}

.intro-box-right {
  width: 50%;
  height: 830px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro-box-right img {
  width: 85%;
}

.intro-box-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.tables {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.tables img {
  width: 30%;
}
.tables h3 {
  font-size: 25px;
  color: black;
}
.tables button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.tables button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.tables p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.groups {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.groups img {
  width: 30%;
}
.groups h3 {
  font-size: 25px;
  color: black;
}
.groups button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.groups button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.groups p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.fresh {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.fresh img {
  width: 30%;
}
.fresh h3 {
  font-size: 25px;
  color: black;
}
.fresh button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
}
.fresh button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid black;
  color: black;
}
.fresh p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.best-table {
  width: 100%;
  height: 720px;
  background: black;
  display: flex;
}

.best-table-left {
  height: 100%;
  width: 60%;
  background-image: url("../img/slider32x.jpg");
  background-size: cover;
  background-position: center;
}

.best-table-right {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 0;
  padding-left: 100px;
}
.best-table-right h2 {
  font-size: 58px;
  font-weight: bold;
  padding-left: 65px;
  line-height: 1.2;
}
.best-table-right #description-table {
  font-size: 20px;
  padding-left: 65px;
}
.best-table-right button {
  margin-left: 65px;
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
}
.best-table-right button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 0px solid white;
  color: black;
}

.critics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 1850px;
  width: 100%;
  background: white;
}

#critics-title {
  font-size: 50px;
  color: black;
  font-style: italic;
  font-family: serif;
}

.critics-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 840px;
}

.critics-top-left {
  height: 100%;
  width: 50%;
  background-image: url("../img/blog72x.jpg");
  background-size: cover;
  background-position: center;
}

.critics-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  background: black;
  padding: 120px 100px;
}
.critics-top-right .newspaper {
  font-size: 42px;
  font-weight: bold;
}
.critics-top-right .stars {
  list-style: none;
}
.critics-top-right .stars li {
  display: inline-block;
}
.critics-top-right .long-line {
  height: 1px;
  width: 70px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}
.critics-top-right p {
  font-size: 20px;
  line-height: 1.5;
}
.critics-top-right button {
  justify-content: center;
  height: 45px;
  width: 175px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}
.critics-top-right button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid black;
  color: white;
}

.critics-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.guardian {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47%;
  height: 710px;
  background-size: cover;
  background-position: center;
  padding: 120px 100px;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url("../img/info52x.jpg");
}
.guardian .newspaper {
  font-size: 42px;
  font-weight: bold;
}
.guardian .stars {
  list-style: none;
}
.guardian .stars li {
  display: inline-block;
}
.guardian .long-line {
  height: 1px;
  width: 70px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}
.guardian p {
  font-size: 20px;
  line-height: 1.5;
}
.guardian button {
  justify-content: center;
  height: 45px;
  width: 175px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}
.guardian button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid black;
  color: white;
}

.globe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47%;
  height: 710px;
  background-size: cover;
  background-position: center;
  padding: 120px 100px;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url("../img/info12x.jpg");
}
.globe .newspaper {
  font-size: 42px;
  font-weight: bold;
}
.globe .stars {
  list-style: none;
}
.globe .stars li {
  display: inline-block;
}
.globe .long-line {
  height: 1px;
  width: 70px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}
.globe p {
  font-size: 20px;
  line-height: 1.5;
}
.globe button {
  justify-content: center;
  height: 45px;
  width: 175px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}
.globe button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid black;
  color: white;
}

.promotions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 1320px;
  width: 100%;
  background: white;
}
.promotions img {
  width: 100%;
}

#price {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#promotions-title {
  font-size: 50px;
  color: black;
  font-style: italic;
  font-family: serif;
  margin: 80px 0;
}

.promotions-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
}

.coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 630px;
  width: 350px;
  background: white;
}
.coffee img {
  height: 70%;
  width: 350px;
  background-size: cover;
  background-position: center;
}
.coffee h3 {
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.coffee ul {
  list-style: none;
  text-align: center;
  font-size: 12px;
}
.coffee ul li {
  color: black;
  display: inline-block;
  padding-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 630px;
  width: 350px;
  background: white;
}
.menu img {
  height: 70%;
  width: 350px;
  background-size: cover;
  background-position: center;
}
.menu h3 {
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.menu ul {
  list-style: none;
  text-align: center;
  font-size: 12px;
}
.menu ul li {
  color: black;
  display: inline-block;
  padding-bottom: 50px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 630px;
  width: 350px;
  background: white;
}
.square img {
  height: 70%;
  width: 350px;
  background-size: cover;
  background-position: center;
}
.square h3 {
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.square ul {
  list-style: none;
  text-align: center;
  font-size: 12px;
}
.square ul li {
  color: black;
  display: inline-block;
  padding-bottom: 50px;
}

.takeout {
  height: 850px;
  width: 100%;
  display: flex;
}

.takeout-left {
  width: 60%;
  background-image: url("../img/slider72x-scaled.jpg");
  background-size: cover;
  background-position: center;
}

.takeout-right {
  height: 100%;
  width: 40%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 150px 0;
  padding-left: 40px;
  padding-right: 30px;
}
.takeout-right .line {
  height: 1px;
  width: 40px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}
.takeout-right #takeout-description {
  font-size: 20px;
  padding-left: 65px;
}
.takeout-right button {
  margin-left: 65px;
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  height: 45px;
  width: 225px;
}
.takeout-right button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 0px solid white;
  color: black;
}
.takeout-right button:hover {
  font-size: 16px;
  height: 45px;
  width: 225px;
}
.takeout-right button:hover i {
  color: black;
}
.takeout-right i {
  padding-right: 10px;
}

.menu-box {
  height: 1290px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-1 {
  height: 960px;
  width: 400px;
  background: #E8E8E8;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-1 .menu-title {
  font-size: 34px;
  font-weight: bold;
  color: black;
}
.menu-1 .dish {
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding-top: 40px;
}
.menu-1 .dish .menu-prices {
  font-size: 16px;
  font-weight: lighter;
  color: black;
  padding-left: 20px;
}
.menu-1 .dish-description {
  font-size: 20px;
  color: black;
  padding: 30px 20px;
}

.menu-2 {
  height: 960px;
  width: 400px;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url("../img/misc22x.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.menu-2 .menu-title {
  font-size: 34px;
  font-weight: bold;
}
.menu-2 .dish {
  font-size: 24px;
  font-weight: bold;
  padding-top: 40px;
}
.menu-2 .dish .menu-prices {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 20px;
}
.menu-2 .dish-description {
  font-size: 20px;
  padding: 30px 20px;
}

.menu-3 {
  height: 960px;
  width: 400px;
  background: #E8E8E8;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-3 .menu-title {
  font-size: 34px;
  font-weight: bold;
  color: black;
}
.menu-3 .dish {
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding-top: 40px;
}
.menu-3 .dish .menu-prices {
  font-size: 16px;
  font-weight: lighter;
  color: black;
  padding-left: 20px;
}
.menu-3 .dish-description {
  font-size: 20px;
  color: black;
  padding: 30px 20px;
}

.abalone {
  height: 870px;
  width: 100%;
  background-image: url("../img/hero42x.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.abalone-description-box {
  position: relative;
  height: 640px;
  width: 420px;
  display: flex;
  background: black;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 50px;
  margin-left: 100px;
}
.abalone-description-box h2 {
  font-size: 54px;
  font-weight: bold;
  line-height: 1.2;
}
.abalone-description-box h2 #abalone-price {
  position: absolute;
  top: 115px;
  right: 60px;
  font-size: 16px;
  font-weight: normal;
}
.abalone-description-box #description-abalone {
  font-size: 20px;
  line-height: 1.5;
}
.abalone-description-box button {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
}
.abalone-description-box button:hover {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 0px solid white;
  color: black;
}

.navbar {
  list-style: none;
  height: 100%;
  padding-top: 25px;
  text-align: center;
}
.navbar li {
  display: inline-block;
  padding: 15px 10px;
  height: 100%;
}
.navbar li a {
  text-decoration: none;
  font-size: 14px;
  color: lightgrey;
}
.navbar li a:hover {
  color: white;
  text-decoration: underline;
}
.navbar .new {
  padding: 1px 4px;
  border: 1px solid lightgrey;
}
