<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/app.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>


  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- header -->
    <header>
      <!-- header left -->
      <div class="header-left">
        <!-- header left top-->
        <div class="header-left-top">
          <img src="img/logo-restaurant.png" alt="">
        </div>
        <!--/ header left top-->

        <!-- header left bottom-->
        <div class="header-left-bottom">
          <p><span class="line"></span>THE BEST TABLE IN TOWN</p>

          <h1>FINE DINING <br>EXPERIENCE</h1>
          <p id="description-header">Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisl, ac felis.</p>
          <button type="button" name="button">EXPLORE THE MENU</button>
        </div>
        <!--/header left bottom-->
      </div>
      <!-- /header left -->

      <!-- header right-->
      <div class="header-right">
        <nav>
          <ul class="navbar">
            <li v-for="link in navbarLinks"> {{ link }} </li>
            <li> <a href="#"><i class="fas fa-shopping-cart"></i></a> </li>
          </ul>
        </nav>
        <!-- fixed squares -->
        <div class="demos">
          <i class="fas fa-archive"></i>
          <p>Demos</p>
        </div>

        <div class="onsale">
          <p id="exponential"><sup>$</sup>39</p>
          <p>On Sale</p>
        </div>
        <!--/ fixed squares -->
      </div>
      <!-- /header right-->
    </header>
    <!-- /header -->

    <!-- main -->
    <main>
      <div class="intro-box">
        <div class="intro-box-top">
          <div class="intro-box-left">
            <p><strong>HAC TELLUS, FELIS RISUS AT</strong> mattis mattis. Eget euismod semper eget tortor, donec amet, blandit. Tristique facilisi faucibus elementum feugiat in nam in feugiat. Ipsum odio etiam duis facilisis amet vulputate.</p>

            <p class="big-font">food is our common ground, a universal experience.</p>

            <p>Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut. Metus, nullam scelerisque netus viverra dui.</p>

            <img src="img\signature.jpg" alt="">
          </div>
          <div class="intro-box-right">
            <img src="img\hover-image1.png" alt="">
          </div>
        </div>
        <div class="intro-box-bottom">
          <div class="tables">
            <img src="img\sushi-1.png" alt="">
            <h3>THE BEST TABLE IN TOWN</h3>
            <p>Sed aenean egestas ut aliquam turpis mauris, molestie. Vitae tellus tempor sem id tempus neque, tellus turpis turpis. Morbi tortor id gravida aliquet.</p>
            <button type="button" name="button">EXPLORE THE MENU</button>
          </div>
          <div class="groups">
            <img src="img\sushi-2.png" alt="">
            <h3>Perfect For Groups</h3>
            <p>Quam eu proin sit massa condimentum. Volutpat non pulvinar aliquet nunc. Orci elementum in aliquet a gravida vivamus aliquam turpis vitae.</p>
            <button type="button" name="button">MAKE A RESERVATION</button>
          </div>
          <div class="fresh">
            <img src="img\sushi-3.png" alt="">
            <h3>Fresh produce everyday</h3>
            <p>Hendrerit amet, volutpat leo non, commodo maecenas scelerisque tincidunt. Morbi vulputate morbi purus quisque sit sagittis orci elementum gravida.</p>
            <button type="button" name="button">LEARN MORE ABOUT US</button>
          </div>
        </div>
      </div>
      <div class="best-table">
        <div class="best-table-left">

        </div>
        <div class="best-table-right">
          <p><span class="line"></span>FINE DINING EXPERIENCE</p>

          <h2>THE BEST TABLE IN TOWN</h2>
          <p id="description-table">Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerisque nisi in urna nulla.</p>
          <button type="button" name="button">EXPLORE THE MENU</button>

        </div>
      </div>
      <div class="critics">
        <p id="critics-title">What critics are saying about us</p>
        <div class="critics-top">
          <div class="critics-top-left"></div>

          <div class="critics-top-right">
            <p>MEGGY STEWART</p>
            <h2 class="newspaper">NEW YORK TIMES</h2>
            <ul class="stars">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>

            <div class="long-line"></div>
            <p>Non arcu mauris tortor ultrices mollis tellus euismod fermentum. Habitant amet tincidunt id sapien accumsan sed at.<br>
            <br>Mmalesuada ullamcorper amet. Pretium pretium dignissim nisi.</p>

            <button type="button" name="button">READ FULL ARTICLE</button>
          </div>
        </div>

        <div class="critics-bottom">
          <div class="guardian">
            <p>MARY MAXEY</p>
            <h2 class="newspaper">THE GUARDIAN</h2>
            <ul class="stars">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>

            <div class="long-line"></div>
            <p>Non arcu mauris tortor ultrices mollis tellus euismod fermentum. Habitant amet tincidunt id sapien accumsan sed.</p>

            <button type="button" name="button">READ FULL ARTICLE</button>
          </div>

          <div class="globe">
            <p>PATRICK MONROE</p>
            <h2 class="newspaper">GLOBE AND MAIL</h2>
            <ul class="stars">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>

            <div class="long-line"></div>
            <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla porttitor accumsan tincidunt.

            </p>

            <button type="button" name="button">READ FULL ARTICLE</button>

          </div>
        </div>
      </div>
      <div class="promotions">
        <img src="img\page52x.jpg" alt="">
        <p id="price">KUNG PAO CHICKEN - $32</p>
        <p id="promotions-title">Latest news & promotions</p>
      </div>
    </main>
    <!-- /main -->

    <!-- footer -->
    <footer>
      <div class="footer-top">
        <div class="wrapper-footer-top">
          <img src="img/logo-restaurant.png" alt="">
          <p>
            Quam eu proin sit massa condimentum. Volutpat non pulvinar
            aliquet nunc. Quam eu proin sit massa condimentum.
          </p>
          <ul id="link-social">
            <li><a href="#"></a>
              <i class="fab fa-facebook-f"></i>
            </a></li>
            <li><a href="#"></a>
              <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="#"></a>
              <i class="fab fa-youtube"></i>
            </a></li>
            <li><a href="#"></a>
              <i class="fab fa-instagram"></i>
            </a></li>
            <li><a href="#"></a>
              <i class="fab fa-linkedin-in"></i>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <ul id="copyright">
          <li v-for="copyright in footerCopyright"> <a href="#"></a>{{ copyright }}</li>
        </ul>
      </div>
    </footer>
    <!-- /footer -->
  </div>
  <script src="js/script.js" charset="utf-8"></script>


</body>
</html>
