.intro-box {
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 1500px;
  background: white;
}

.intro-box-top {
  display: flex;
  flex-direction: row;
}

.intro-box-left {
  width: 50%;
  height: 830px;
  padding: 0 100px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }
  strong{
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;

  }
  .big-font{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
  }img{
    width: 40%
  }
}

.intro-box-right{
  width: 50%;
  height: 830px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img{
    width: 85%;
  }
}

.intro-box-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.tables{
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  img{
    width: 30%;
  }
  h3{
    font-size: 25px;
    color: black;
  }
  button{
    @include whiteHoverBBorderButtons;
  }
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }
}

.groups{
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  img{
    width: 30%;
  }
  h3{
    font-size: 25px;
    color: black;
  }
  button{
    @include whiteHoverBBorderButtons;
  }
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }
}

.fresh {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  img{
    width: 30%;
  }
  h3{
    font-size: 25px;
    color: black;
  }
  button{
    @include whiteHoverBBorderButtons;
  }
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }
}

.best-table{
  width: 100%;
  height: 720px;
  background: black;
  display: flex;
}

.best-table-left {
  height: 100%;
  width: 60%;
  background-image: url('../img/slider32x.jpg');
  @include backgroundImages
}

.best-table-right {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:100px 0;
  padding-left: 100px;
  h2{
    font-size: 58px;
    font-weight: bold;
    padding-left: 65px;
    line-height: 1.2
  }
  #description-table{
    font-size: $descriptionFont;
    padding-left: 65px;
  }
  button{
    margin-left: 65px;
    @include blackHoverWhiteButtons;
  }
}

.critics {
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: column;
  height: 1850px;
  width: 100%;
  background: white;
}

#critics-title {
  font-size: 40px;
  color: black;
  font-style: italic;
  font-family: serif;
}

.critics-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 840px;
}

.critics-top-left{
  height: 100%;
  width: 50%;
  background-image: url('../img/blog72x.jpg');
  @include backgroundImages
}

.critics-top-right {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  background: black;
  padding:120px 100px;
  .newspaper{
    font-size:42px;
    font-weight: bold;
  }
  p{
    font-size: $descriptionFont;
    line-height: 1.5;
  }
  button{
    @include blackHoverWhiteButtons;
  }
}

.stars{
  list-style: none;
  li {
    display: inline-block;
  }
}

.long-line{
  height: 1px;
  width:70px;
  background-color: white;
  display:inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}

.critics-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.guardian{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47%;
  height: 710px;
  background-image: linear-gradient(to bottom ,rgba(0,0,0,1), rgba(0,0,0, 0.3)), url('../img/info52x.jpg');
  @include backgroundImages;
  padding:120px 100px;
  .newspaper{
    font-size:42px;
    font-weight: bold;
  }
  p{
    font-size: $descriptionFont;
    line-height: 1.5;
  }
  button{
    @include transparentHoverBlackButtons;
  }
}

.globe{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47%;
  height: 710px;
  background-image: linear-gradient(to bottom ,rgba(0,0,0,1), rgba(0,0,0, 0.3)), url('../img/info12x.jpg');
  @include backgroundImages;
  padding:120px 100px;
  .newspaper{
    font-size:42px;
    font-weight: bold;
  }
  p{
    font-size: $descriptionFont;
    line-height: 1.5;
  }
  button{
    @include transparentHoverBlackButtons;
  }
}
