@mixin openerLine {
  height: 1px;
  width:40px;
  background-color: white;
  display:inline-block;
  margin-bottom: 5px;
  margin-right: 30px;
}

@mixin backgroundImages {
  background-size: cover;
  background-position: center;
}

@mixin blackHoverWhiteButtons {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: black;
  border: 1px solid white;
  color: white;
  &:hover{
    justify-content: center;
    height: 45px;
    width: 175px;
    background: white;
    border: 0px solid white;
    color: black;
  }
}

@mixin whiteHoverBBorderButtons {
  justify-content: center;
  height: 45px;
  width: 175px;
  background: white;
  border: 1px solid lightgrey;
  color: black;
  &:hover{
    justify-content: center;
    height: 45px;
    width: 175px;
    background: white;
    border: 1px solid black;
    color: black;
  }
}

@mixin transparentHoverBlackButtons {
  justify-content: center;
  height: 45px;
  width: 175px;
  border: 1px solid white;
  background: rgba(0,0,0,0.0);
  color: white;
  font-weight: bold;
  &:hover{
    justify-content: center;
    height: 45px;
    width: 175px;
    background: black;
    border: 1px solid black;
    color: white;
  }
}


@mixin fixedSquare {
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 2;
}

@mixin fixedSquareText {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-weight: bold;
}

@mixin introBoxBottomBoxes {
  height: 500px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  img{
    width: 30%;
  }
  h3{
    font-size: 25px;
    color: black;
  }
  button{
    @include whiteHoverBBorderButtons;
  }
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
  }
}

@mixin newspaperDescription {
  .newspaper{
    font-size:42px;
    font-weight: bold;
  }
  .stars{
    list-style: none;
    li {
      display: inline-block;
    }
  }
  .long-line{
    height: 1px;
    width:70px;
    background-color: white;
    display:inline-block;
    margin-bottom: 5px;
    margin-right: 30px;
  }

  p{
    font-size: $descriptionFont;
    line-height: 1.5;
  }
  button{
    @include transparentHoverBlackButtons;
  }
}

@mixin criticsBottomNewspaerLayout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 47%;
  height: 710px;
  @include backgroundImages;
  padding:120px 100px;
}

@mixin promotionBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 630px;
  width: 350px;
  background: white;
  img {
    height: 70%;
    width: 350px;
    @include backgroundImages;
  }
  h3 {
    color: black;
    font-size: 22px;
    font-weight: 700;
  }
  ul{
    list-style: none;
    text-align: center;
    font-size: 12px;
    li {
      color: black;
      display: inline-block;
      padding-bottom: 50px;
    }
  }
}

@mixin coursiveTitle{
  font-size: 50px;
  color: black;
  font-style: italic;
  font-family: serif;
}

@mixin whiteMenuBoxLayout {
  height: 960px;
  width: 400px;
  background: #E8E8E8;
  padding:80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .menu-title{
    font-size: 34px;
    font-weight: bold;
    color: black;
  }
  .dish{
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-top: 40px;
    .menu-prices{
    font-size: 16px;
    font-weight: lighter;
    color: black;
    padding-left: 20px;
    }
  }
  .dish-description{
    font-size: 20px;
    color: black;
    padding:30px 20px;
  }
}
