.navbar {
  list-style: none;
  height: 100%;
  padding-right: 80px;
  padding-top: 25px;
  text-align: center;
  li {
    display: inline-block;
    padding: 15px 10px;
    height: 100%;

    a {
      text-decoration: none;
      font-size: 14px;
      color: lightgrey;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
